<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- 工具栏 -->
            <div>
                <button class="btn btn-primary" @click="add">添加</button>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>性别</th>
                            <th>国家</th>
                            <th>简介</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books" :key="book.id">
                            <td>{{book.id}}</td>
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.sex === 'male' ?
                                '男' :
                                book.sex === 'female' ?
                                '女' : '其他'
                                }}
                            </td>
                            <td>{{book.country === 'zg' ?
                                '中国' :
                                book.country === 'mg' ?
                                '美国' : '英国'
                                }}
                            </td>
                            <td>{{book.desc}}</td>
                            <td>
                                <button class="btn btn-outline-dark" @click="()=>{toEdit(book.id)}">编辑</button>
                                <button class="btn btn-danger" @click="()=>{remove(book.id)}">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-show="show">
                <h1>{{form.id ? '编辑' : '添加'}}数据</h1>
                <form class="card p-3">
                    <div>
                        <label class="form-label">书名</label>
                        <input v-model="form.name" type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">作者</label>
                        <input v-model="form.author" type="text" class="form-control">
                    </div>
                    <div>
                        <label class="form-label">性别</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input v-model="form.sex" type="radio" class="form-check-input" value="male">
                                <label class="form-check-label">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="form.sex" type="radio" class="form-check-input" value="female">
                                <label class="form-check-label">女</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="form.sex" type="radio" class="form-check-input" value="other">
                                <label class="form-check-label">其他</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="form-label">国家</label>
                        <select v-model="form.country" class="form-select">
                            <option value="" disabled>请选择</option>
                            <option value="zg">中国</option>
                            <option value="mg">美国</option>
                            <option value="yg">英国</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label">简介</label>
                        <textarea v-model="form.desc" class="form-control" rows="5"></textarea>
                    </div>
                    <div>
                        <button @click.prevent.stop="cancel" class="btn btn-outline-dark">取消</button>
                        <button @click.prevent.stop="submit" class="btn btn-success">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    let book = {
        id: 0,
        name: '书名',
        author: '作者',
        sex: '性别',
        country: '国家', // select
        desc: '简介' // textarea
    };

    const App = {
        data() {
            return {
                id: 3,
                books: [
                    {
                        id: 0,
                        name: '书名1',
                        author: '作者1',
                        sex: 'other',
                        country: 'zg',
                        desc: '简介1'
                    },
                    {
                        id: 1,
                        name: '书名2',
                        author: '作者2',
                        sex: 'female',
                        country: 'mg',
                        desc: '简介2'
                    },
                    {
                        id: 2,
                        name: '书名3',
                        author: '作者3',
                        sex: 'male',
                        country: 'yg',
                        desc: '简介3'
                    },
                ],
                form: {
                    id: null,
                    name: '',
                    author: '',
                    sex: 'other',
                    country: '',
                    desc: ''
                },
                show: false
            };
        },
        methods: {
            add() {
                this.show = true;
            },
            cancel() {
                this.show = false;
            },
            submit() {
                if (this.form.id === null) {
                    // 添加数据
                    // 添加id
                    this.form.id = this.id++;
                    // 克隆数据
                    let book = { ...this.form };
                    this.books.unshift(book);
                } else {
                    // 编辑数据
                    let book = this.books.find(book => book.id === this.form.id);
                    // 拷贝对象属性
                    for (const bookKey in book) {
                        book[bookKey] = this.form[bookKey];
                    }
                }

                this.show = false;
                this.form.id = null;
                this.form.name = '';
                this.form.author = '';
                this.form.sex = 'other';
                this.form.country = '';
                this.form.desc = '';
            },
            remove(id) {
                let r = confirm('真的要删除吗？');
                if (!r) return;

                let i = this.books.findIndex(book => book.id === id);
                this.books.splice(i, 1);
            },
            // 打开编辑对话框
            toEdit(id) {
                // 回显数据
                let book = this.books.find(book => book.id === id);
                // 拷贝对象属性
                for (const bookKey in book) {
                    this.form[bookKey] = book[bookKey];
                }
                this.show = true;
            }
        }
    };

    let app = Vue.createApp(App);
    let vm = app.mount('#app');
</script>

</html>