<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <!-- v-for 循环渲染一个数组数据 -->
    <!-- 以下例子中 -->
    <!-- el代表：数组中的每个元素 -->
    <!-- arr代表：data中的数组变量 -->
    <div v-for="el in arr">
        <!-- 在v-for内部，每一个元素el，可以当作是data中的数据进行直接访问 -->
        <div>姓名：{{el.name}}</div>
        <div>年龄：{{el.age}}</div>
        <div>性别：{{el.sex}}</div>
    </div>

    <br/>

    <!-- 此处 使用圆括号"()" 可以获取数组中的元素el，和该元素的下标index -->
    <div v-for="(el, index) in arr">
        <!-- 在v-for内部，每一个元素el，可以当作是data中的数据进行直接访问 -->
        <div>序号：{{index}}</div>
        <div>姓名：{{el.name}}</div>
        <div>年龄：{{el.age}}<input v-model="el.age"/></div>
        <div>性别：{{el.sex}}</div>
    </div>

    <br/>

    <!-- 注意 -->
    <!-- v-for中，尽量绑定key属性，key属性是一个唯一值 -->
    <div v-for="(el, index) in arr" v-bind:key="el.id">
        <div>序号：{{index}}</div>
        <div>姓名：{{el.name}}</div>
        <div>年龄：{{el.age}}<input v-model="el.age"/></div>
        <div>性别：{{el.sex}}</div>
    </div>

    <button @click="modifyArr">修改数组</button>
</div>
</body>
<script>
    // v-for 做数组的循环渲染

    let vm = new Vue({
        el: '#app',
        data() {
            return {
                title: '这是抬头',
                arr: [
                    {
                        id: 0,
                        name: '张三',
                        age: 16,
                        sex: '男'
                    },
                    {
                        id: 1,
                        name: '李四',
                        age: 16,
                        sex: '女'
                    },
                    {
                        id: 2,
                        name: '王五',
                        age: 18,
                        sex: '男'
                    }
                ]
            }
        },
        methods: {
            modifyArr() {
                // this.arr[1] = {
                //     id: 3,
                //     name: '王麻子',
                //     age: 20,
                //     sex: '女'
                // }
                this.arr[1].id = 3
                this.arr[1].name = '王麻子'
                this.arr[1].age = 20
                this.arr[1].sex = '女'
            }
        }
    })
</script>
</html>